flows.json
[{"id":"5ece36af.baca48","type":"tab","label":"Lights","disabled":false,"info":""},{"id":"4d1cc35d.d74c0c","type":"tab","label":"Security","disabled":false,"info":""},{"id":"f39c15fc.437708","type":"tab","label":"Switches","disabled":false,"info":""},{"id":"9935848f.902b18","type":"server","z":"","name":"Home Assistant","url":"http://192.168.20.115:8123","pass":"simba123"},{"id":"24cbf181.63e87e","type":"api-call-service","z":"5ece36af.baca48","name":"LightStrip On","server":"9935848f.902b18","service_domain":"light","service":"turn_on","data":"{\"entity_id\": \"light.hue_lightstrip_plus_1\", \"brightness\" : \"255\"}","mergecontext":"","x":550,"y":520,"wires":[[]]},{"id":"5a6a454.ede37bc","type":"server-state-changed","z":"5ece36af.baca48","name":"Living Room Switch","server":"9935848f.902b18","entityidfilter":"sensor.living_room_switch","entityidfiltertype":"substring","haltifstate":"","x":100,"y":620,"wires":[["b574de00.d287"]]},{"id":"ba9b6669.d1ab08","type":"api-call-service","z":"5ece36af.baca48","name":"Tall Lamp On","server":"9935848f.902b18","service_domain":"switch","service":"turn_on","data":"{\"entity_id\": \"light.tall_lamp\"}","mergecontext":"","x":550,"y":580,"wires":[[]]},{"id":"b574de00.d287","type":"switch","z":"5ece36af.baca48","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"1_click","vt":"str"},{"t":"cont","v":"4_click","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":360,"y":620,"wires":[["ba9b6669.d1ab08","24cbf181.63e87e"],["f6c5817.066508","e5be12f0.b654a"]]},{"id":"f6c5817.066508","type":"api-call-service","z":"5ece36af.baca48","name":"Tall Lamp Off","server":"9935848f.902b18","service_domain":"switch","service":"turn_off","data":"{\"entity_id\": \"light.tall_lamp\"}","mergecontext":"","x":560,"y":640,"wires":[[]]},{"id":"e5be12f0.b654a","type":"api-call-service","z":"5ece36af.baca48","name":"LightStrip Off","server":"9935848f.902b18","service_domain":"light","service":"turn_off","data":"{\"entity_id\": \"light.hue_lightstrip_plus_1\"}","mergecontext":"","x":550,"y":680,"wires":[[]]},{"id":"23988afd.ba5ad6","type":"server-state-changed","z":"5ece36af.baca48","name":"Spare Bedroom Switch","server":"9935848f.902b18","entityidfilter":"sensor.spare_bedroom_switch","entityidfiltertype":"substring","haltifstate":"","x":100,"y":820,"wires":[["2bdddcb7.d41e64"]]},{"id":"2bdddcb7.d41e64","type":"switch","z":"5ece36af.baca48","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"1_click","vt":"str"},{"t":"cont","v":"4_click","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":379,"y":820,"wires":[["dd4d7ee8.b02dd","833942e.d7df6c"],["39306313.8a1afc","85536a7c.99d948"]]},{"id":"dd4d7ee8.b02dd","type":"api-call-service","z":"5ece36af.baca48","name":"Spare Lamp On","server":"9935848f.902b18","service_domain":"switch","service":"turn_on","data":"{\"entity_id\": \"switch.spare_lamp\"}","mergecontext":"","x":559,"y":780,"wires":[[]]},{"id":"39306313.8a1afc","type":"api-call-service","z":"5ece36af.baca48","name":"Spare Lamp Off","server":"9935848f.902b18","service_domain":"switch","service":"turn_off","data":"{\"entity_id\": \"switch.spare_lamp\"}","mergecontext":"","x":559,"y":880,"wires":[[]]},{"id":"ba87d228.85048","type":"server-state-changed","z":"4d1cc35d.d74c0c","name":"Front Door","server":"9935848f.902b18","entityidfilter":"binary_sensor.door_window_sensor_158d0001f3ccdc","entityidfiltertype":"substring","haltifstate":"off","x":90,"y":260,"wires":[["35ce8547.17de1a","72297a5f.c96fc4"]]},{"id":"72297a5f.c96fc4","type":"api-call-service","z":"4d1cc35d.d74c0c","name":"","server":"9935848f.902b18","service_domain":"xiaomi_aqara","service":"play_ringtone","data":"{ \"ringtone_id\" : 8, \"ringtone_vol\" : 15 }","mergecontext":"","x":700,"y":260,"wires":[["33c73a88.4e7fe6"]]},{"id":"79ad78fb.840458","type":"e-mail","z":"4d1cc35d.d74c0c","server":"smtp.gmail.com","port":"465","secure":true,"name":"chro86@gmail.com","dname":"Home Assistant","x":650,"y":320,"wires":[]},{"id":"ed2f60e.2ebc7a","type":"server-state-changed","z":"5ece36af.baca48","name":"Living Room Motion Hue","server":"9935848f.902b18","entityidfilter":"sensor.living_room_motion_sensor","entityidfiltertype":"substring","haltifstate":"off","x":110,"y":980,"wires":[["c7f3dc75.14731"]]},{"id":"20a956a9.79be3a","type":"stoptimer","z":"5ece36af.baca48","duration":"45","units":"Second","payloadtype":"num","payloadval":"0","name":"","x":830,"y":973,"wires":[["2fe1313a.56447e"],[]]},{"id":"2fe1313a.56447e","type":"api-call-service","z":"5ece36af.baca48","name":"Turn Off Tall Lamp","server":"9935848f.902b18","service_domain":"light","service":"turn_off","data":"{\"entity_id\": \"light.hue_color_lamp_1\"}","mergecontext":"","x":1030,"y":966,"wires":[[]]},{"id":"4f07048d.5830fc","type":"api-current-state","z":"5ece36af.baca48","name":"Tall Lamp On?","server":"9935848f.902b18","halt_if":"on","override_topic":true,"override_payload":true,"entity_id":"light.hue_color_lamp_1","x":600,"y":973,"wires":[["20a956a9.79be3a","51c5bd74.8bad64"]]},{"id":"51c5bd74.8bad64","type":"api-call-service","z":"5ece36af.baca48","name":"Turn On Tall Lamp","server":"9935848f.902b18","service_domain":"light","service":"turn_on","data":"{\"entity_id\": \"light.hue_color_lamp_1\", \"color_name\" : \"white\", \"brightness\" : \"50\"}","mergecontext":"","x":830,"y":1013,"wires":[[]]},{"id":"c7f3dc75.14731","type":"time-range-switch","z":"5ece36af.baca48","name":"","lat":"","lon":"","startTime":"22:00","endTime":"06:00","startOffset":0,"endOffset":0,"x":390,"y":980,"wires":[["4f07048d.5830fc"],[]]},{"id":"db73ed34.59b3a","type":"time-range-switch","z":"5ece36af.baca48","name":"","lat":"","lon":"","startTime":"06:00","endTime":"22:00","startOffset":0,"endOffset":0,"x":330,"y":1160,"wires":[["bcae7212.50404"],[]]},{"id":"bcae7212.50404","type":"api-current-state","z":"5ece36af.baca48","name":"Tall Lamp On?","server":"9935848f.902b18","halt_if":"off","override_topic":true,"override_payload":true,"entity_id":"light.hue_color_lamp_1","x":540,"y":1160,"wires":[["8c8fbe8e.ef485"]]},{"id":"8c8fbe8e.ef485","type":"stoptimer","z":"5ece36af.baca48","duration":"1","units":"Hour","payloadtype":"num","payloadval":"0","name":"","x":750,"y":1160,"wires":[["af495048.3fc5c","5b19488d.491ea8"],[]]},{"id":"af495048.3fc5c","type":"api-call-service","z":"5ece36af.baca48","name":"Turn Off Tall Lamp","server":"9935848f.902b18","service_domain":"light","service":"turn_off","data":"{\"entity_id\": \"light.hue_color_lamp_1\"}","mergecontext":"","x":990,"y":1160,"wires":[["b9e13817.d83098"]]},{"id":"761f3e93.b629e","type":"server-state-changed","z":"5ece36af.baca48","name":"Living Room Motion Hue","server":"9935848f.902b18","entityidfilter":"sensor.living_room_motion_sensor","entityidfiltertype":"substring","haltifstate":"on","x":110,"y":1160,"wires":[["db73ed34.59b3a"]]},{"id":"5b19488d.491ea8","type":"api-call-service","z":"5ece36af.baca48","name":"Turn Off LightStrip","server":"9935848f.902b18","service_domain":"light","service":"turn_off","data":"{\"entity_id\": \"light.hue_lightstrip_plus_1\"}","mergecontext":"","x":990,"y":1200,"wires":[[]]},{"id":"e7ce194.a9df4e8","type":"comment","z":"5ece36af.baca48","name":"Turn Off Lights after 1 hour","info":"","x":110,"y":1120,"wires":[]},{"id":"5d63a6a6.c0ea58","type":"comment","z":"5ece36af.baca48","name":"Night Light","info":"","x":60,"y":940,"wires":[]},{"id":"194e3bba.808044","type":"comment","z":"5ece36af.baca48","name":"Control Spare Bedroom Lights","info":"","x":130,"y":780,"wires":[]},{"id":"d270a0ad.5c004","type":"comment","z":"5ece36af.baca48","name":"Control Living Lights","info":"","x":90,"y":560,"wires":[]},{"id":"b9e13817.d83098","type":"debug","z":"5ece36af.baca48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1170,"y":1160,"wires":[]},{"id":"35ce8547.17de1a","type":"debug","z":"4d1cc35d.d74c0c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":250,"y":220,"wires":[]},{"id":"33c73a88.4e7fe6","type":"debug","z":"4d1cc35d.d74c0c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":870,"y":200,"wires":[]},{"id":"de207e70.c63bb","type":"server-state-changed","z":"f39c15fc.437708","name":"Monitor Living Room Temp","server":"9935848f.902b18","entityidfilter":"sensor.living_room_temperature","entityidfiltertype":"substring","haltifstate":"","x":150,"y":220,"wires":[["8a6c9bee.0ea618"]]},{"id":"8a6c9bee.0ea618","type":"switch","z":"f39c15fc.437708","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"20","vt":"str"},{"t":"eq","v":"19.5","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":220,"wires":[["e1cfc699.8127b8"],["5470352f.989cfc"]]},{"id":"e1cfc699.8127b8","type":"api-call-service","z":"f39c15fc.437708","name":"","server":"9935848f.902b18","service_domain":"switch","service":"turn_on","data":"{\"entity_id\": \" switch.living_fan\"}","mergecontext":"","x":570,"y":200,"wires":[["e18322ea.ba68b"]]},{"id":"5470352f.989cfc","type":"api-call-service","z":"f39c15fc.437708","name":"","server":"9935848f.902b18","service_domain":"switch","service":"turn_off","data":"{\"entity_id\": \" switch.living_fan\"}","mergecontext":"","x":570,"y":260,"wires":[["4e7a968b.09d948"]]},{"id":"e18322ea.ba68b","type":"debug","z":"f39c15fc.437708","name":"Turn On Fan","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":770,"y":200,"wires":[]},{"id":"4e7a968b.09d948","type":"debug","z":"f39c15fc.437708","name":"Turn Off Fan","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":770,"y":260,"wires":[]},{"id":"8df419cc.ec0948","type":"server-state-changed","z":"5ece36af.baca48","name":"Office Switch","server":"9935848f.902b18","entityidfilter":"sensor.office_switch","entityidfiltertype":"substring","haltifstate":"","x":80,"y":380,"wires":[["4c600261.80d58c"]]},{"id":"833942e.d7df6c","type":"api-call-service","z":"5ece36af.baca48","name":"Office Lamp On","server":"9935848f.902b18","service_domain":"switch","service":"turn_on","data":"{\"entity_id\": \"switch.spare_lamp2\"}","mergecontext":"","x":760,"y":800,"wires":[[]]},{"id":"4c600261.80d58c","type":"switch","z":"5ece36af.baca48","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"1_click","vt":"str"},{"t":"cont","v":"4_click","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":360,"y":380,"wires":[[],[]]},{"id":"85536a7c.99d948","type":"api-call-service","z":"5ece36af.baca48","name":"Office Lamp Off","server":"9935848f.902b18","service_domain":"switch","service":"turn_off","data":"{\"entity_id\": \"switch.spare_lamp2\"}","mergecontext":"","x":760,"y":860,"wires":[[]]},{"id":"b7fd3ef.e98eac","type":"comment","z":"5ece36af.baca48","name":"Control Office Lights","info":"","x":90,"y":320,"wires":[]}]