flows.json
[{"id":"11559687.2923e9","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"99c05b1d.b9c368","type":"tab","label":"Lights","disabled":false,"info":""},{"id":"7ae337e2.2fc548","type":"tab","label":"Security","disabled":false,"info":""},{"id":"565b373d.d60308","type":"tab","label":"Switches","disabled":false,"info":""},{"id":"b522be9f.dcea9","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":false,"rejectUnauthorizedCerts":false,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true},{"id":"439812c6.20f75c","type":"api-call-service","z":"99c05b1d.b9c368","name":"Entrance Way","server":"","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.entrance_way_downlight\",\"brightness\":\"255\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":560,"y":520,"wires":[[]]},{"id":"88fb410b.939bd","type":"server-state-changed","z":"99c05b1d.b9c368","name":"Living Room Switch","server":"","entityidfilter":"sensor.living_room_switch","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":100,"y":620,"wires":[[]]},{"id":"56c5853b.f6a13c","type":"api-call-service","z":"99c05b1d.b9c368","name":"Tall Lamp On","server":"","service_domain":"switch","service":"turn_on","data":"{\"entity_id\": \"light.tall_lamp\"}","mergecontext":"","x":550,"y":580,"wires":[[]]},{"id":"3045eddd.c647d2","type":"switch","z":"99c05b1d.b9c368","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"1_click","vt":"str"},{"t":"cont","v":"4_click","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":360,"y":620,"wires":[["56c5853b.f6a13c","439812c6.20f75c"],["de0db971.3db7f8","77f6df34.06023"]]},{"id":"de0db971.3db7f8","type":"api-call-service","z":"99c05b1d.b9c368","name":"Tall Lamp Off","server":"","service_domain":"switch","service":"turn_off","data":"{\"entity_id\": \"light.tall_lamp\"}","mergecontext":"","x":560,"y":640,"wires":[[]]},{"id":"77f6df34.06023","type":"api-call-service","z":"99c05b1d.b9c368","name":"LightStrip Off","server":"","service_domain":"light","service":"turn_off","data":"{\"entity_id\": \"light.hue_lightstrip_plus_1\"}","mergecontext":"","x":550,"y":680,"wires":[[]]},{"id":"60599f93.e500c","type":"server-state-changed","z":"99c05b1d.b9c368","name":"Spare Bedroom Switch","server":"b522be9f.dcea9","version":"1","entityidfilter":"sensor.spare_bedroom_switch","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":100,"y":820,"wires":[["761232c4.04e11c"]]},{"id":"761232c4.04e11c","type":"switch","z":"99c05b1d.b9c368","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"1_click","vt":"str"},{"t":"cont","v":"4_click","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":379,"y":820,"wires":[["4d912eb8.67808","dac2f69d.432728"],["7f14fc89.b0e554","7aa5b4c8.b07c1c"]]},{"id":"4d912eb8.67808","type":"api-call-service","z":"99c05b1d.b9c368","name":"Spare Lamp On","server":"b522be9f.dcea9","version":"1","service_domain":"switch","service":"turn_on","entityId":"switch.spare_lamp","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":559,"y":780,"wires":[[]]},{"id":"7f14fc89.b0e554","type":"api-call-service","z":"99c05b1d.b9c368","name":"Spare Lamp Off","server":"b522be9f.dcea9","version":"1","service_domain":"switch","service":"turn_off","entityId":"switch.spare_lamp","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":559,"y":880,"wires":[[]]},{"id":"c4ea79ed.1a7a98","type":"server-state-changed","z":"7ae337e2.2fc548","name":"Front Door","server":"","entityidfilter":"binary_sensor.door_window_sensor_158d0001f3ccdc","entityidfiltertype":"substring","haltifstate":"off","outputs":1,"x":90,"y":260,"wires":[["16b6e534.726d7b","d41a72df.f53a7"]]},{"id":"d41a72df.f53a7","type":"api-call-service","z":"7ae337e2.2fc548","name":"","server":"","service_domain":"xiaomi_aqara","service":"play_ringtone","data":"{ \"ringtone_id\" : 8, \"ringtone_vol\" : 15 }","mergecontext":"","x":700,"y":260,"wires":[["785b241c.61ebac"]]},{"id":"3da34a5b.68eef6","type":"e-mail","z":"7ae337e2.2fc548","server":"smtp.gmail.com","port":"465","secure":true,"name":"chro86@gmail.com","dname":"Home Assistant","x":650,"y":320,"wires":[]},{"id":"1b0813e6.47b74c","type":"server-state-changed","z":"99c05b1d.b9c368","name":"Living Room Nest Camera Motion","server":"","entityidfilter":"binary_sensor.living_room_camera_motion_detected","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":130,"y":980,"wires":[["2a6e209c.875b"],[]]},{"id":"b17d252f.fb6258","type":"stoptimer","z":"99c05b1d.b9c368","duration":"30","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":820,"y":973,"wires":[["aae10001.7de6b"],[]]},{"id":"aae10001.7de6b","type":"api-call-service","z":"99c05b1d.b9c368","name":"Turn Off Living Room","server":"","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.living_room\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1040,"y":966,"wires":[[]]},{"id":"349ef65e.d11e2a","type":"api-current-state","z":"99c05b1d.b9c368","name":"Living Lights On","server":"","outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"light.living_room","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":580,"y":980,"wires":[["b17d252f.fb6258","5328019b.5c49e"],[]]},{"id":"5328019b.5c49e","type":"api-call-service","z":"99c05b1d.b9c368","name":"Turn On Living Room","server":"","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.living_room\",\"color_name\":\"white\",\"brightness\":\"50\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":840,"y":1013,"wires":[[]]},{"id":"2a6e209c.875b","type":"time-range-switch","z":"99c05b1d.b9c368","name":"","lat":"","lon":"","startTime":"22:00","endTime":"06:00","startOffset":0,"endOffset":0,"x":390,"y":980,"wires":[["349ef65e.d11e2a"],[]]},{"id":"86216fff.48c33","type":"time-range-switch","z":"99c05b1d.b9c368","name":"","lat":"","lon":"","startTime":"06:00","endTime":"22:00","startOffset":0,"endOffset":0,"x":390,"y":1160,"wires":[["ee1dfa84.b7a9c8"],[]]},{"id":"ee1dfa84.b7a9c8","type":"api-current-state","z":"99c05b1d.b9c368","name":"Living Lights On","server":"","outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"light.living_room","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":600,"y":1160,"wires":[["40fb5852.4ef6b8"],[]]},{"id":"40fb5852.4ef6b8","type":"stoptimer","z":"99c05b1d.b9c368","duration":"1","units":"Hour","payloadtype":"num","payloadval":"0","name":"","x":810,"y":1160,"wires":[["49f8a9ce.f2c048"],[]]},{"id":"49f8a9ce.f2c048","type":"api-call-service","z":"99c05b1d.b9c368","name":"Turn Off Living Room","server":"","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.living_room\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1060,"y":1160,"wires":[["6300d89b.63df28"]]},{"id":"2e37c64f.3a2eba","type":"server-state-changed","z":"99c05b1d.b9c368","name":"Living Room Nest Camera Motion","server":"","entityidfilter":"binary_sensor.living_room_camera_motion_detected","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":130,"y":1160,"wires":[["86216fff.48c33"],[]]},{"id":"26f7d083.4a22","type":"comment","z":"99c05b1d.b9c368","name":"Turn Off Lights after 1 hour","info":"","x":110,"y":1120,"wires":[]},{"id":"31a63e73.9ab362","type":"comment","z":"99c05b1d.b9c368","name":"Night Light","info":"","x":60,"y":940,"wires":[]},{"id":"c21157aa.bf5498","type":"comment","z":"99c05b1d.b9c368","name":"Control Spare Bedroom Lights","info":"","x":130,"y":780,"wires":[]},{"id":"ec72e83f.9f7d28","type":"comment","z":"99c05b1d.b9c368","name":"Control Living Lights","info":"","x":90,"y":560,"wires":[]},{"id":"6300d89b.63df28","type":"debug","z":"99c05b1d.b9c368","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1230,"y":1160,"wires":[]},{"id":"16b6e534.726d7b","type":"debug","z":"7ae337e2.2fc548","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":250,"y":220,"wires":[]},{"id":"785b241c.61ebac","type":"debug","z":"7ae337e2.2fc548","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":870,"y":200,"wires":[]},{"id":"b55c73b7.adaf7","type":"server-state-changed","z":"565b373d.d60308","name":"Monitor Living Room Temp","server":"","entityidfilter":"sensor.living_room_temperature","entityidfiltertype":"substring","haltifstate":"","outputs":1,"x":150,"y":220,"wires":[[]]},{"id":"74635973.546d88","type":"switch","z":"565b373d.d60308","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"20","vt":"str"},{"t":"eq","v":"19.5","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":220,"wires":[["54ecdd2c.5241f4"],["a24b256.4c27fd8"]]},{"id":"54ecdd2c.5241f4","type":"api-call-service","z":"565b373d.d60308","name":"","server":"","service_domain":"switch","service":"turn_on","data":"{\"entity_id\": \" switch.living_fan\"}","mergecontext":"","x":570,"y":200,"wires":[["e585a176.b63d3"]]},{"id":"a24b256.4c27fd8","type":"api-call-service","z":"565b373d.d60308","name":"","server":"","service_domain":"switch","service":"turn_off","data":"{\"entity_id\": \" switch.living_fan\"}","mergecontext":"","x":570,"y":260,"wires":[["46126554.1ff0cc"]]},{"id":"e585a176.b63d3","type":"debug","z":"565b373d.d60308","name":"Turn On Fan","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":770,"y":200,"wires":[]},{"id":"46126554.1ff0cc","type":"debug","z":"565b373d.d60308","name":"Turn Off Fan","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":770,"y":260,"wires":[]},{"id":"84d1464f.08d618","type":"server-state-changed","z":"99c05b1d.b9c368","name":"Office Switch","server":"","entityidfilter":"sensor.office_switch","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":80,"y":380,"wires":[["503e9449.5abe6c"]]},{"id":"503e9449.5abe6c","type":"switch","z":"99c05b1d.b9c368","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"1_click","vt":"str"},{"t":"cont","v":"4_click","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":380,"wires":[[],[]]},{"id":"c472ddd3.9cf35","type":"comment","z":"99c05b1d.b9c368","name":"Control Office Lights","info":"","x":90,"y":320,"wires":[]},{"id":"dac2f69d.432728","type":"api-call-service","z":"99c05b1d.b9c368","name":"Spare Lamp 2 On","server":"b522be9f.dcea9","version":"1","service_domain":"switch","service":"turn_on","entityId":"switch.spare_lamp2","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":570,"y":740,"wires":[[]]},{"id":"7aa5b4c8.b07c1c","type":"api-call-service","z":"99c05b1d.b9c368","name":"Spare Lamp 2 Off","server":"b522be9f.dcea9","version":"1","service_domain":"switch","service":"turn_off","entityId":"switch.spare_lamp2","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":570,"y":920,"wires":[[]]},{"id":"2ea29f1e.5c782","type":"server-state-changed","z":"99c05b1d.b9c368","name":"Office Switch","server":"b522be9f.dcea9","version":"1","entityidfilter":"sensor.office_switch","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":70,"y":1320,"wires":[["3ca1b8d2.10d058"]]},{"id":"3ca1b8d2.10d058","type":"switch","z":"99c05b1d.b9c368","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"1_click","vt":"str"},{"t":"cont","v":"4_click","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":379,"y":1320,"wires":[["85abdd2f.cc3bf"],["fb655e84.e36a5"]]},{"id":"85abdd2f.cc3bf","type":"api-call-service","z":"99c05b1d.b9c368","name":"Office Lamp On","server":"b522be9f.dcea9","version":"1","service_domain":"switch","service":"turn_on","entityId":"switch.office_lamp","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":559,"y":1280,"wires":[[]]},{"id":"fb655e84.e36a5","type":"api-call-service","z":"99c05b1d.b9c368","name":"Office Lamp Off","server":"b522be9f.dcea9","version":"1","service_domain":"switch","service":"turn_off","entityId":"switch.office_lamp","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":559,"y":1380,"wires":[[]]},{"id":"b749ff93.573cc","type":"comment","z":"99c05b1d.b9c368","name":"Control Office Lights","info":"","x":100,"y":1280,"wires":[]},{"id":"f4d1d772.05ced8","type":"comment","z":"99c05b1d.b9c368","name":"Control Driveway Lights","info":"","x":120,"y":1460,"wires":[]},{"id":"5ba06431.1539dc","type":"server-state-changed","z":"99c05b1d.b9c368","name":"Sunset","server":"","entityidfilter":"sun.sun","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"below_horizon","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"output_only_on_state_change":true,"x":50,"y":1540,"wires":[["b5ad8871.b6da88","d6bbeef3.bd584"],[]]},{"id":"d6bbeef3.bd584","type":"stoptimer","z":"99c05b1d.b9c368","duration":"4","units":"Hour","payloadtype":"num","payloadval":"0","name":"","x":270,"y":1560,"wires":[["ea336112.6039"],[]]},{"id":"b5ad8871.b6da88","type":"api-current-state","z":"99c05b1d.b9c368","name":"Driveway Lights On","server":"","outputs":2,"halt_if":"On","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"light.driveway","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":290,"y":1500,"wires":[["c2e97d3b.2c8dd"],[]]},{"id":"ea336112.6039","type":"api-call-service","z":"99c05b1d.b9c368","name":"Turn Off Driveway","server":"","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.driveway\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":470,"y":1560,"wires":[[]]},{"id":"c2e97d3b.2c8dd","type":"api-call-service","z":"99c05b1d.b9c368","name":"Turn On Drive Way","server":"","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.driveway\",\"color_name\":\"white\",\"brightness\":\"255\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":550,"y":1500,"wires":[[]]}]